/* resets */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
    display: block;
    border: none;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* init stuff */

@font-face {
	font-family: 'Poppins';
	src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Poppins-BoldItalic';
	src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Poppins-Italic';
	src: url("./assets/fonts/Poppins-Italic.ttf") format("truetype");
}

/* general */ 

main {
	font-family: 'Poppins';
	height: 100vh;
	background-color: hsl(0, 0%, 94%);
	display: flex;
	justify-content: center;
	align-items: center;
}

#calcContainer {
	background-color: white;
	padding: 30px;
	border-radius: 30px;
	border-bottom-right-radius: 90px;
}

/* form */

form {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

form label {
	display: block;
	font-size: 0.7em;
	margin-bottom: 5px;
}

form input {
	padding: 10px;
	width: 110px;
	border-radius: 5px;
	border-style: solid;
	font-family: 'Poppins-Bold';
}

form .error {
	color: red;
	font-size: 0.6em;
	font-family: 'Poppins-Italic';
	margin-top: 5px;
}

.errorColor {
	color: red;
}


/* button container */
.btnContainer {
	position: relative;
	margin: 1em 0;
}

.btnContainer button {
  position: relative;
  height: 60px;  
  width: 60px;  
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  color: hsl(259, 100%, 65%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 5;
}

.btnContainer button:hover {
	background-color: hsl(0, 0%, 8%);
}

hr {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 2;
	background-color: hsl(0, 0%, 94%);
	border: none;
	height: 3px;
}


/* results container */

.resultsContainer p {
	font-size: 3.5em;
	font-family: "Poppins-BoldItalic";
	line-height: 100%;
}

.result {
	color: hsl(259, 100%, 65%);
}
